<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Localization"
        tools:targetApi="31">
        <activity
            android:name=".actionBar"
            android:exported="true" />
        <activity
            android:name=".ColourChangeActivity"
            android:exported="true" />
        <activity
            android:name=".RadioSelecting"
            android:exported="true" /> <!-- Firebase & Google Sign-In Configuration -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.BROWSER_ACCOUNTS"
            android:value="true" /> <!-- Activities -->
        <activity
            android:name=".ForgetPassActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".Toolbar"
            android:exported="true" />
        <activity
            android:name=".Calculator"
            android:exported="true" />
        <activity
            android:name=".splashWithGif"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpPage"
            android:exported="true" />
        <activity
            android:name=".intent_second_activity"
            android:exported="true" />
        <activity
            android:name=".Intent_first_activity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".Lpu_touch"
            android:exported="true" />
        <activity
            android:name=".zomatooItems"
            android:exported="true" />
        <activity
            android:name=".ZomatooSell"
            android:exported="true" />
        <activity
            android:name=".MainActivity2_Intent"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>